<header class="header ms-4 me-4 mh-2">
  <nav class="navbar">
    <div class="nav-brand">
      <h2 class="display-5 fw-bold text-primary mb-4">Tracky</h2>
    </div>
    <!-- <div class="nav-menu">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">Task Dashboard</a>
        </li>
      </ul>
    </div> -->
    <div class="nav-actions m-2 d-flex justify-content-end">
      <button class="btn btn-outline-primary" (click)="onSignupClick()">
        SignUp
      </button>
      <div class="ms-2 me-2 login">
        <button
          class="btn btn-outline-primary"
          *ngIf="!isLoggedIn()"
          (click)="onLoginClick()"
        >
          Login
        </button>
        <button
          class="btn btn-outline-primary"
          *ngIf="isLoggedIn()"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </nav>
</header>
